.contacts_wrapper {
    width: 100%;
    height: 180px;
    background-color: $head;
    padding: 0 50px;
    @include flex (flex, center, space-between);
    color: white;
    flex-wrap: wrap;
}
.flag {
    width: 100px;
    height: 100px;
    border: 3px solid white;
    border-radius: 50%;
    background-image: url('../img/britishhed.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition-duration: 5s;
    transition-property: transform;
    transition-timing-function: linear;
    margin: 10px;
    cursor: pointer;
    &:hover {
        border: 3px solid black;
        transform: rotate(720deg) rotateX(360deg);
    }
    &:active {
        border: 3px solid grey;
    }
}
.title {
    font-size: 48px;
    margin: 10px;
}
.contacts {
    margin: 10px;
}
.list_wrapper {
    width: 100%;
    padding: 30px;
}
.list {
    @include flex (flex, center, space-around);
    margin: 0;
}
.list_item {
    font-family: $second;
    font-size: 32px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        color: $red;
        text-decoration: underline;
    }
    &:active {
        color: $pear;
    }
}
.list_item_active {
    color: $pear;
}
.list_link {
    font-size: 18px;
}


@media screen and (max-width: 660px) {
    .list_wrapper {
        width: 100%;
        padding: 15px;
        font-size: 20px;
    }
    .list_item {
        font-size: 28px;
    } 
}
@media screen and (max-width: 825px) {
    .contacts_wrapper {
        height: 220px;
        padding: 0 20px;
    }
    .contacts {
        width: 100%;
        @include flex (flex, center, space-between);
        flex-wrap: wrap;
    }
    .contacts_item {
        margin: 10px;
    }
}
@media screen and (max-width: 524px) {
    .contacts_wrapper {
        padding: 0 10px;
        height: 200px;
    }
    .flag {
        width: 60px;
        height: 60px;
        margin: 5px;
    }
    .title {
        font-size: 40px;
        margin: 5px;
    }
    .contacts {
        margin: 5px;
    }
    .contacts_item {
        margin: 5px;
        font-size: 16px;
    }
}
@media screen and (max-width: 490px) {
    .list_item {
        font-size: 24px;
    }
    .contacts_item {
        margin: 5px;
        font-size: 14px;
    }
}
@media screen and (max-width: 447px) {
    .contacts {
        @include flex (flex, center, center);
    }
}
@media screen and (max-width: 386px) {
    .flag {
        width: 50px;
        height: 50px;
    }
    .title {
        font-size: 36px;
    }
}
@media screen and (max-width: 360px) {
    .contacts_item {
        font-size: 14px;
    }
    .title {
        font-size: 30px;
    }
    .list_item {
        font-size: 20px;
    }
}
